h1{
    position: absolute;
    font-size: 3rem;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    color: #057DCD;;
    border-right: 2px solid #057DCD;
    overflow: hidden;
    animation: anima 6s linear infinite;
}


@keyframes anima{
    0%{
        width: 0;;
    }
    70%{
        width: 100%;
    }
}